/**
 * @file            _fonts.scss
 * @compiles-to     n/a
 * @imports-to      Layout files
 * @author          Shane Howell <@shane_howell>
 * @author          Wes Rice <@wesrice>
 */


$fontLocation: '/Fonts';

/**
 *  Lobster Two
 */

    $lt: "lobster_tworegular", Arial, sans-serif;
    $lt-b: "lobster_twobold", Arial, sans-serif;
    $lt-bi: "lobster_twobold_italic", Arial, sans-serif;
    $lt-i: "lobster_twoitalic", Arial, sans-serif;

    @font-face {
        font-family: 'lobster_tworegular';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'lobster_twobold';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.svg#lobster_twobold') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'lobster_twobold_italic';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.svg#lobster_twobold_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'lobster_twoitalic';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.svg#lobster_twoitalic') format('svg');
        font-weight: normal;
        font-style: normal;

    }



/**
 *  Baskerville
 */

    $ba: "libre_baskervilleregular", Arial, sans-serif;
    $ba-i: "libre_baskervilleitalic", Arial, sans-serif;
    $ba-b: "libre_baskervillebold", Arial, sans-serif;

    @font-face {
        font-family: 'libre_baskervilleregular';
        src: url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.eot');
        src: url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.woff') format('woff'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'libre_baskervilleitalic';
        src: url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.eot');
        src: url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.woff') format('woff'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'libre_baskervillebold';
        src: url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.eot');
        src: url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.woff') format('woff'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
        font-weight: normal;
        font-style: normal;

    }
