/**
 * @file            _fonts.scss
 * @compiles-to     n/a
 * @imports-to      Layout files
 * @author          Shane Howell <@shane_howell>
 * @author          Wes Rice <@wesrice>
 */


$fontLocation: '/Fonts';

/**
 *  Lobster Two
 */

    $lt: "lobster_tworegular", Arial, sans-serif;
    $lt-b: "lobster_twobold", Arial, sans-serif;
    $lt-bi: "lobster_twobold_italic", Arial, sans-serif;
    $lt-i: "lobster_twoitalic", Arial, sans-serif;

    @font-face {
        font-family: 'lobster_tworegular';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'lobster_twobold';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bold-webfont.svg#lobster_twobold') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'lobster_twobold_italic';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-bolditalic-webfont.svg#lobster_twobold_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'lobster_twoitalic';
        src: url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.eot');
        src: url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.woff') format('woff'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/lobster-two/lobstertwo-italic-webfont.svg#lobster_twoitalic') format('svg');
        font-weight: normal;
        font-style: normal;

    }



/**
 *  Baskerville
 */

    $ba: "libre_baskervilleregular", Arial, sans-serif;
    $ba-i: "libre_baskervilleitalic", Arial, sans-serif;
    $ba-b: "libre_baskervillebold", Arial, sans-serif;

    @font-face {
        font-family: 'libre_baskervilleregular';
        src: url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.eot');
        src: url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.woff') format('woff'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/baskerville/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'libre_baskervilleitalic';
        src: url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.eot');
        src: url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.woff') format('woff'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/baskerville/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'libre_baskervillebold';
        src: url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.eot');
        src: url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.woff') format('woff'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/baskerville/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
        font-weight: normal;
        font-style: normal;

    }



/**
 *  Source Sans Pro
 */

    $ssp: "source_sans_proregular", Arial, sans-serif;
    $ssp-i: "source_sans_proitalic", Arial, sans-serif;
    $ssp-l: "source_sans_prolight", Arial, sans-serif;
    $ssp-li: "source_sans_prolight_italic", Arial, sans-serif;
    $ssp-sb: "source_sans_prosemibold", Arial, sans-serif;
    $ssp-sbi: "source_sans_proSBdIt", Arial, sans-serif;

    @font-face {
        font-family: 'source_sans_proregular';
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-regular-webfont.eot');
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-regular-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'source_sans_proitalic';
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-it-webfont.eot');
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-it-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-it-webfont.woff') format('woff'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-it-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'source_sans_prolight';
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-light-webfont.eot');
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-light-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-light-webfont.woff') format('woff'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-light-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'source_sans_prolight_italic';
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-lightit-webfont.eot');
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-lightit-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-lightit-webfont.woff') format('woff'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-lightit-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-lightit-webfont.svg#source_sans_prolight_italic') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'source_sans_prosemibold';
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-semibold-webfont.eot');
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semibold-webfont.woff') format('woff'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'source_sans_proSBdIt';
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-semiboldit-webfont.eot');
        src: url('#{$fontLocation}/source-sans-pro/sourcesanspro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semiboldit-webfont.woff2') format('woff2'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semiboldit-webfont.woff') format('woff'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semiboldit-webfont.ttf') format('truetype'),
             url('#{$fontLocation}/source-sans-pro/sourcesanspro-semiboldit-webfont.svg#source_sans_proSBdIt') format('svg');
        font-weight: normal;
        font-style: normal;

    }