<section id="home" ng-controller="ProjectController">
    
    <ul>
        <li>
            <a href="">
                <img src="http://lorempixel.com/400/200/" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://lorempixel.com/400/200/" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://lorempixel.com/400/200/" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://lorempixel.com/400/200/" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://lorempixel.com/400/200/" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://lorempixel.com/400/200/" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img src="http://lorempixel.com/400/200/" alt="">
            </a>
        </li>
    </ul>

</section>
