/**
 * @file            details.scss
 * @compiles-to     base.css
 * @imports-to      Layout files
 * @author          Shane Howell <@shane_howell>
 */


/*************
 ** Imports **
 *************/

    // @import "../../../../Core/partials/bootstrap";

    // $filePath: '/app/Pages/Header/views/img/';


/***********************************************
 ** 320px Default - Ideal for old IE & mobile **
 ** No media query, no CSS3 properties        **
 ***********************************************/



/*************************************************************
 ** 320px Enhanced - Ideal for mobile                       **
 ** Inherits from 320px standard                            **
 ** Media query checks for CSS3 support. Has touch support. **
 *************************************************************/

    @media #{$mq-smallest} {

        #details {
            .container {
                // background: tomato;
            }

            .images {
                img {
                    width: 100%;
                }
            }

            .copy {
                padding: 15px 0 0 0;
                font-family: $ssp;
                font-size: 14px;
                line-height: 20px;

                h1 {
                    margin: 0 0 10px 0;
                    font-family: $ba-b;
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: normal;
                    text-transform: uppercase;
                }
            }
        }

    } // end $smallest


/*******************************************************
 ** 480px - Ideal for iPhone Landscape, other mobiles **
 ** Inherits from 320px Standard, and 320px Enhanced  **
 ** Has touch support                                 **
 *******************************************************/

    @media #{$mq-small} {

        #details {
            .images {
                img {
                    width: 49.5%;

                    &:nth-of-type(1) {
                        margin-right: 4px;
                    }
                }
            }
        }

    } // end $small


/*************************************************************
 ** 720px - Ideal for iPad Portrait                         **
 ** Inherits from 320px Standard, 320px Enhanced, and 480px **
 ** Has touch support.                                      **
 *************************************************************/

    @media #{$mq-medium} {

        #details {
            .images {
                img {
                    display: inline-block;
                    width: 49.5%;
                    margin-right: -4px;

                    &:nth-of-type(1) {
                        margin-right: 7px;
                    }
                }
            }

            .copy {
                width: cols(7);
                margin: 0 auto;
                padding: 50px 0 0 0;
                font-size: 15px;
                line-height: 26px;

                h1 {
                    font-size: 26px;
                }
            }
        }

    } // end $medium


/************************************************************
 ** 960px - Ideal for most browser screens, iPad Landscape **
 ** Inherits all the things.                               **
 ** Has touch support.                                     **
 ************************************************************/

    @media #{$mq-large} {

        #details {
            .images {
                img {
                    &:nth-of-type(1) {
                        margin-right: 9px;
                    }
                }
            }

            .copy {
                width: cols(9);
            }
        }

    } // end $large


/**********************************************
 ** 1200px - Ideal for wider browser screens **
 ** Inherits all the things.                 **
 ** Has touch support.                       **
 **********************************************/

    @media #{$mq-largest} {

        #details {
            .images {
                img {
                    &:nth-of-type(1) {
                        margin-right: 12px;
                    }
                }
            }
        }

    } // end $largest


/***************************************************
 ** Retina x2 - Should be used to replace images. **
 ** Inherits nothing.                             **
 ***************************************************/

    @media #{$mq-retina} {}
