/**
 * @file            details.scss
 * @compiles-to     base.css
 * @imports-to      Layout files
 * @author          Shane Howell <@shane_howell>
 */


/*************
 ** Imports **
 *************/

    // @import "../../../../Core/partials/bootstrap";

    // $filePath: '/app/Pages/Header/views/img/';


/***********************************************
 ** 320px Default - Ideal for old IE & mobile **
 ** No media query, no CSS3 properties        **
 ***********************************************/



/*************************************************************
 ** 320px Enhanced - Ideal for mobile                       **
 ** Inherits from 320px standard                            **
 ** Media query checks for CSS3 support. Has touch support. **
 *************************************************************/

    @media #{$mq-smallest} {

        #details {
            .container {
                // background: tomato;
            }

            .images {
                min-height: 488px;

                img {
                    width: 100%;
                }
            }

            .copy {
                padding: 15px 0 0 0;
                font-family: $ssp;
                font-size: 14px;
                line-height: 20px;

                h1 {
                    margin: 0 0 10px 0;
                    font-family: $ba-b;
                    font-size: 20px;
                    letter-spacing: 1px;
                    line-height: 32px;
                    font-weight: normal;
                    text-transform: uppercase;

                    a {
                        color: #000;
                        transition: color .3s ease-in-out 0s;

                        &:hover {
                            color: lighten(#000, 50%);
                        }
                    }
                }

                i {
                    display: block;
                    margin-bottom: 20px;
                }

                .left p {
                  margin-bottom: 20px;
                }

                .left p a {
                  color: #4F93E3;
                  transition: color .2s ease-in-out;
                }
                
                .left p a:hover {
                  color: blue;
                  transition: color .2s ease-in-out;
                }

                .right {
                    display: none;
                }
            }

            .project-nav {
                margin: 35px 0 0 0;
                text-align: center;

                .prev {
                    float: left;
                }

                .next {
                    float: right;
                }

                .prev,
                .next,
                .home {
                    display: inline-block;
                    width: cols(1.3);
                    padding: 2px 0 0 0;
                }

                a {
                    font-family: $ssp-i;
                    color: lighten(#000, 75%);
                    background: lighten(#ccc, 16%);
                    transition: all .3s ease-in-out 0s;

                    &:hover {
                        color: lighten(#000, 55%);
                        background: lighten(#ccc, 6%);
                    }

                    &:active {
                        transform: scale(.96);
                        background: lighten(#ccc, 6%);
                    }
                }
            }
        }

    } // end $smallest


/*******************************************************
 ** 480px - Ideal for iPhone Landscape, other mobiles **
 ** Inherits from 320px Standard, and 320px Enhanced  **
 ** Has touch support                                 **
 *******************************************************/

    @media #{$mq-small} {

        #details {
            .images {
                min-height: 182px;

                img {
                    width: 49.5%;

                    &:nth-of-type(odd) {
                        margin-right: 4px;
                    }
                }
            }
        }

    } // end $small


/*************************************************************
 ** 720px - Ideal for iPad Portrait                         **
 ** Inherits from 320px Standard, 320px Enhanced, and 480px **
 ** Has touch support.                                      **
 *************************************************************/

    @media #{$mq-medium} {

        #details {
            .images {
                min-height: 277px;

                img {
                    display: inline-block;
                    width: 49.5%;
                    margin-right: -4px;

                    &:nth-of-type(odd) {
                        margin-right: 7px;
                    }
                }
            }

            .copy {
                width: cols(7);
                margin: 0 auto;
                padding: 50px 0 0 0;
                font-size: 15px;
                line-height: 26px;
                               
                h1 {
                    font-size: 26px;
                }

                .left {
                    display: inline-block;
                    width: cols(5.22);
                }

                .right {
                    display: inline-block;
                    margin: 0 0 0 20px;
                    padding: 5px 15px 5px 35px;
                    vertical-align: top;
                    font-family: $ssp-i;
                    background: lighten(#ccc, 16%);

                    ul {
                        list-style-type: none;
                    }

                    li {
                        &:before {
                            content: "\00BB";
                            margin: 0 10px 0 -20px;
                        }
                    }
                }
            }
        }

    } // end $medium


/************************************************************
 ** 960px - Ideal for most browser screens, iPad Landscape **
 ** Inherits all the things.                               **
 ** Has touch support.                                     **
 ************************************************************/

    @media #{$mq-large} {

        #details {
            .images {
                min-height: 376px;

                img {
                    &:nth-of-type(odd) {
                        margin-right: 9px;
                    }
                }
            }

            .copy {
                width: cols(9);

                h1 {
                    position: relative;

                    &:after {
                        content: "\00AB";
                        position: absolute;
                        margin: -4px 0 0 8px;
                        // top: -4px; left: 8px;
                        color: lighten(#000, 50%);
                        opacity: 0;
                        transform: translateX(5px);
                        transition: all .3s ease-in-out 0s;
                    }

                    &:before {
                        content: "\00BB";
                        position: absolute;
                        top: -4px; left: -23px;
                        color: lighten(#000, 50%);
                        opacity: 0;
                        transform: translateX(-5px);
                        transition: all .3s ease-in-out 0s;
                    }

                    &:hover {
                        &:after,
                        &:before {
                            transform: translateX(0px);
                            opacity: 1;
                        }
                    }
                }

                .left {
                    width: cols(7.22);
                }
            }
        }

    } // end $large


/**********************************************
 ** 1200px - Ideal for wider browser screens **
 ** Inherits all the things.                 **
 ** Has touch support.                       **
 **********************************************/

    @media #{$mq-largest} {

        #details {
            .images {
                min-height: 471px;

                img {
                    &:nth-of-type(odd) {
                        margin-right: 12px;
                    }
                }
            }
        }

    } // end $largest


/***************************************************
 ** Retina x2 - Should be used to replace images. **
 ** Inherits nothing.                             **
 ***************************************************/

    @media #{$mq-retina} {}
