<view-title>About // Shane Howell</view-title>

<section id="about" ng-controller="AboutController">
    
    <div class="container">
        <div class="copy" ng-bind-html="about | sanitize"></div>

        <ul>
            <li ng-repeat="site in social">
                <a href="{{ site.link }}" title="{{ site.title }}" target="_blank">{{ site.title }}</a>
            </li>
            <li>
                <a href="mailto:shanehowellweb@gmail.com?subject=Hello There!&amp;body=Hi Shane, so I was looking at your portfolio and...">
                    Contact
                </a>
            </li>
        </ul>
    </div>

</section>
