<section id="details" ng-controller="DetailsController">

    <view-title>{{ pageTitle }} // Shane Howell</view-title>

    <div class="container">
        <div class="images">
            <img ng-repeat="image in project.images track by $index" ng-src="{{ image }}">
        </div>

        <div class="copy">
            <div class="left">
                <h1>{{ project.title }}</h1>

                {{ project.copy }}

                <div class="project-nav">
                    <a ui-sref="root.home.details({ slug: np.prev })" class="prev" ng-if="np.prev">Previous</a>
                    <a ui-sref="root.home" class="home">Home</a>
                    <a ui-sref="root.home.details({ slug: np.next })" class="next" ng-if="np.next">Next</a>
                </div>
            </div>

            <div class="right">
                <ul>
                    <li ng-repeat="tag in project.tags">
                        {{ tag }}
                    </li>
                </ul>
            </div>
        </div><!-- .copy -->
    </div><!-- .conatiner -->
    

    <br><br>

    <!-- {{ project.title }}<br>
    {{ project.images }}<br>
    {{ project }} -->

</section>
