<section id="details" ng-controller="DetailsController">

    <div class="container">
        <div class="images">
            <img ng-repeat="image in project.images track by $index" ng-src="{{ image }}">
        </div>

        <div class="copy">
            <div class="left">
                <h1>{{ project.title }}</h1>

                {{ project.copy }}
            </div>

            <div class="right">
                <ul>
                    <li ng-repeat="tag in project.tags">
                        {{ tag }}
                    </li>
                </ul>
            </div>
        </div><!-- .copy -->
    </div><!-- .conatiner -->
    

    <br><br>

    <!-- {{ project.title }}<br>
    {{ project.images }}<br>
    {{ project }} -->

</section>
